.games-component .top-games-container {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  
    &-item {
      height: 180px;
      width: 98.5px;
      margin: 15px;
     
      img {
          height: 130px;
          width: auto;
      }

      &__name {
        padding-top: 3px;
        font-size: 0.7rem;
        font-weight: bold;
      }

      &.is-active{
        background: rgb(55, 219, 157);
        border: 2px solid #afd6f5;
        transform: scale(1.05);
        opacity: 1;
      }

    }
}

.top-stream-and-clips-wrapper {
  width: 100%;
  display: flex;

  .top-streams-container {
     width: 65vw;
  }
  .top-clips-container {
      width: 35vw;
  }

  .top-clips-container {
    padding-left: 50px;
    display: inline;
  }
}