@import '../../styles/variables';

.nav-container {
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-image: linear-gradient(260deg, rgba(180, 036, 117, 0.05) 30%,rgba(233, 105, 39, 0.10)62%, rgba(213, 40, 88, 0.06) 92%);
    border-radius: 25px;
    border-bottom: 3px solid;

    &-app-name, &-links {
        margin: 0;
        background: linear-gradient(150deg, $gold-color 30%, $green-color 62%, $red-color 92%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        letter-spacing: $normal-spacing;
    }

    &-app-name {
        font-size: 1.6rem;
        padding-left: 10px;
    }

    &-links {
        display: none;
    }
    .nav-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        color: white;
        z-index: 10;
        padding: 10px;
    }
    .nav-icon {
        font-size: 1.5rem;
    }

    .nav-links {
        position: absolute;
        transform: translateY(-150%);
        opacity: 0;
        overflow: hidden;
        transition: transform 0.3s, opacity 0.7s;
        background:rgba(0,0,0,0.8);
        top: 60px;
        z-index: 9;
        border-radius: 20px;
        width: 90vw;
    
    &__item {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 0;

        & > a{
        padding: 15px 27vw;
        transition: color 0.2s;
        }

        &:nth-child(1) :hover {
            color: $gold-color;
        }
        &:nth-child(3) :hover {
            color: $green-color;
        }
        &:nth-child(5) :hover {
            color: $red-color;
        }
    }
      
    &.show-nav {
        display: block;
        transform: translateY(0);
        opacity: 1;
      }
    }

    &-links__item {
        margin-left:20px;
        padding: 5px 10px;
        text-decoration:none;
        font-weight:bold;
        transition: 0.2s;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        border-right: 3px solid #aaa;
        border-left: 3px solid #aaa;
        border-radius: 10px;

        &:hover {
        -webkit-text-fill-color: #ccc;
        }

    }
}

@media screen and (min-width: 768px) {
    .nav-container {
        padding: 0 10px;

        &-app-name {
            font-size: 2rem;
            padding-left: 0;
        }

        &-links {
            display: block;
        }
    }
   
    .nav-btn {
      display: none;
    }

    .nav-container .nav-links.show-nav {
        display: none;
    }
}