.channel-container-profile{
 display: flex;
 justify-content: space-around;
 padding: 2rem 3rem;
 background: linear-gradient(180deg, rgba(35, 185, 196, 0.142) 30%, rgba(52, 238, 238, 0.242) 62%,rgba(13, 150, 204, 0.642) 92%);
 margin: 3rem;
 border: 2px solid;
 border-radius: 10px;

 &-info {
    display: flex;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 2rem;

    &-box {
        margin-top: 3px;
        padding: 10px 15px;
        border-radius: 5px;
        color:#ddd;

        &__name {
            font-size: 2rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__highlights {
            padding-top: 20px;
            font-size: 1.2rem;
        }
    }
    
    &__image {
        max-height: 200px;
        width: auto;
        border-radius: 50%;
     }
 }
}

@media only screen and (max-width: 1024px) { 
    .channel-container-profile {
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;

        &-info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            &-box {
                text-align: center;
            }
        } 
    }
    .channel-container-profile__highlights {
        .top-streams-container-item {
            width: 250px;
            margin: 30px;
            border: none;
            opacity: 0.9;

         &__viewers {
             bottom: 60px;
         }
    
         &__img {
             width: 250px;
         }
        }
    }
}