@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


$primary-color: linear-gradient(150deg, rgba(30, 236, 47, 0.34) 30%,rgba(6, 105, 39, 0.29)62%, rgba(113, 240, 88, 0.342) 92%);      


$primary-font: 'Roboto', sans-serif;

$primary-font-color: #222;